<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Producto</title>
</head>
<body>
    <h1 style="border: 2px;font-size: 70px;">Productos disponibles para mostrar</h1>
    <ul>
        <li><p>producto1</p></li>
        <li><p>producto2</p></li>
        <li><p>producto3</p></li>
        <li><p>producto4</p></li>
    </ul>
    <button><a href="{% url 'core:index' %}">Pagina Principal</a></button>
</body>
</html>