<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GS - Cliente</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 50px;">Aplicación Cliente</h1>
    <h3 style="text-align: center; font-size: 50px;"><br>Gracias</h1>
    <button style="border-bottom: 1px; border-radius: 2px;"><a href="{% url 'core:index' %}">Pagina Principal</a></button>

</body>
<footer>
    <DIV style="font-family:Arial, Helvetica, sans-serif ;text-align: center ;color: white;background-color: black; max-width: 100%; padding: 10px;">
        <p>Creado por Oscar Farias</p>
        <p>Para CODER HOUSE</p>
    </DIV>
</footer>
</html>